<%#
 Copyright 2008 Steven Barth <steven@midlink.org>
 Copyright 2008-2015 Jo-Philipp Wich <jow@openwrt.org>
 Licensed to the public under the Apache License 2.0.
-%>

<%+header%>

<h2 name="content"><%:Flash operations%></h2>

<ul class="cbi-tabmenu">
	<li class="cbi-tab"><a href="#"><%:Actions%></a></li>
	<li class="cbi-tab-disabled"><a href="<%=url('admin/system/flashops/backupfiles')%>"><%:Configuration%></a></li>
</ul>

<div class="cbi-section">
	<h3><%:Backup%></h3>
	<div class="cbi-section-descr"><%:Click "Generate archive" to download a tar archive of the current configuration files.%></div>
	<div class="cbi-section-node">
		<form class="inline" method="post" action="<%=url('admin/system/flashops/backup')%>">
			<input type="hidden" name="token" value="<%=token%>" />
			<div class="cbi-value<% if not reset_avail then %> cbi-value-last<% end %>">
				<label class="cbi-value-title" for="image"><%:Download backup%>:</label>
				<div class="cbi-value-field">
					<input class="cbi-button cbi-button-action important" type="submit" name="backup" value="<%:Generate archive%>" />
				</div>
			</div>
		</form>
	</div>

	<h3><%:Restore%></h3>
	<div class="cbi-section-descr"><%:To restore configuration files, you can upload a previously generated backup archive here. To reset the firmware to its initial state, click "Perform reset" (only possible with squashfs images).%></div>
	<div class="cbi-section-node">
		<form class="inline" method="post" action="<%=url('admin/system/flashops/restore')%>" enctype="multipart/form-data">
			<div class="cbi-value cbi-value-last">
				<label class="cbi-value-title" for="archive"><%:Restore backup%>:</label>
				<div class="cbi-value-field">
					<input type="hidden" name="token" value="<%=token%>" />
					<input type="file" name="archive" id="archive" />
					<input type="submit" class="cbi-button cbi-button-action important" name="restore" value="<%:Upload archive...%>" />
				</div>
			</div>
		</form>
</div>

<%+footer%>
